.consultation-container {
    text-align: center;
    padding: 20px;
  }
  
  .consultation-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .consultation-container p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .consultation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
  }
  
  .consultation-form input,
  .consultation-form select,
  .consultation-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .consultation-form button {
    padding: 10px;
    background-color:#000F32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .consultation-form button:hover {
    background-color: #00008b;
  }

  @media screen and (max-width: 768px) {
    .form-container {
      flex-direction: column;
      padding: 15px;
    }
  
    .form-image {
      margin-bottom: 20px;
    }
  
    .consultation-form {
      margin-left: 0;
      width: 100%;
    }
  
    .consultation-form input,
    .consultation-form select,
    .consultation-form textarea {
      width: 100%;
      font-size: 0.9rem;
    }
  
    .consultation-form button {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .consultation-container h2 {
      font-size: 1.5rem;
    }
  
    .consultation-container p {
      font-size: 0.9rem;
      margin-bottom: 15px;
    }
  
    .consultation-form input,
    .consultation-form select,
    .consultation-form textarea {
      padding: 8px;
      font-size: 0.8rem;
    }
  
    .consultation-form button {
      padding: 10px;
      font-size: 0.9rem;
    }
  }