.feature img{
    width: 100%;
}

.feature{
    position: relative;
    display: flex;
}

.overlay{
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h1{
    font-size: 40px;
    text-align: center;
    color: white;
}

.overlay{
    display: flex;
    flex-direction: column;
    
}

.overlay button{
    padding: 10px;
    background-color:#000F32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    
}


.feature {
    background-attachment: fixed;
}



.overlay button:hover{
    background-color: #00008b;
}

@media(max-width:480px){
    .overlay h1{
        font-size: 18px;
        font-weight: bold ;
    }

   
}