.section .intro-left-side h1{
    color:#001a57;
    font-size: 50px;
    padding: 20px 20px;
  
    
    
    
    
}

section .intro-left-side h5{
    color: gray;
    font-size: 25px;
    padding: 20px 20px;
}

section .intro-right-side img{
    width: 100%;
}

@media (max-width: 480px){
    .section .intro-left-side h1 {
        font-size: 30px;
        padding: 18px 25px;
    }

     .section .intro-left-side h5{
        font-size: 25px;
        padding: 20px 20px 0 40px;
     }
}